.badge-btn{
    font-family: $body-font;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    letter-spacing: 0.32px;
    padding: 8px 16px;
    background-color: $primary-color;
    color: $black-2;
    border-radius: 10px;
    cursor: default;
}
.causes-area{
    .slick-list{
        .slick-slide{
            margin: 0 12px !important;
        }
    }
    &.style-1{
        background-color: $gray-5;
        position: relative;
        .feature-shape{
            position: absolute;
            bottom: 136px;
            left: 71px;
            width: 169px;
            height: 169px;
            @include rmaxwd(1600){
                width: 130px;
                height: 130px;
            }
            @include rmaxwd(1000){
                bottom: 20px;
            }
            @include sm{
                animation: rotating 12s linear infinite;
            }
        }
        .feature-shape-2{
            position: absolute;
            top: 101px;
            right: 33px;
            width: 235px;
            height: 214px;
            animation: beat 1.4s infinite alternate;
            @include rmaxwd(1600){
                width: 130px;
            }
            @include rmaxwd(1000){
                bottom: 20px;
            }
        }
        .title-area{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 64px;
            @include rmaxwd(500){
                flex-direction: column;
                gap: 20px;
                justify-content: start;
                align-items: start;
                margin-bottom: 40px;
            }
            .section-title{
                width: 450px;
                @include rmaxwd(992){
                    width: auto;
                }
            }
            .short-title{
                color: $brand;
            }
            .btn-wrapper{
                flex-shrink: 0;
            }
            .theme-btn{
                 &.style-6{
                    padding: 17px 32px !important;
                }
            }
        } 
    }
   
}
.causes-top-area{
    // position: relative;
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: center center;
    // z-index: 2;
    // overflow: hidden;
    // padding-top: 120px;
    // padding-bottom: 291px;
    // @include md{
    //     padding-top: 100px;
    // }
    // @include sm{
    //     padding-top: 80px;
    // }
    .feature-image-1{
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 58px;
        margin-left: 25px;
        width: 250px;
        height: 164px;
        @include sm{
            display: none;
        }
        @include rmaxwd(1763){
            margin-top: 40px;
            margin-left: 6px;
            top: 0;
            left: 0;
            width: 100px; 
        }
    }
    .feature-image-2{
        position: absolute;
        top: 29px;
        right: 9px;
        @include rmaxwd(1600){
            top: 0;
            right: 40px;
            width: 160px;
            height: 140px;
        }
        @include sm{
            animation: beat 1.4s infinite alternate;
        }
    }
    .feature-image-3{
        position: absolute;
        bottom: -80px;
        right: 51px;
        animation: rotating 12s linear infinite;
        @include rmaxwd(1200){
            display: none;
        }
    }
     .theme-btn{
        height: 50%;
        &:hover{
            background-color: transparent !important;
            color: $black-2 !important;
            border-color:  transparent !important;

        }
    }
    .section-title{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: end;
        @include rmaxwd(1023){
            flex-direction: column;
            align-items: start;
            gap:20px;
            margin-bottom: 30px;
        }
        
        .short-title{
            color: $primary-color !important;
        }
        .title{
            color: $white !important;
        }
    }
}
.causes-bottom-area{
position: relative;
// margin-top: -300px;
z-index: 20;
overflow: hidden;
        
    
        .short-title{
            color: $primary-color;
        }
        .title{
            color: $white;
        }
}