.icon-card {
    &.style-two {
        padding: 85px 0px;
        flex-direction: column;
        gap: 0;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        background-color: $white;

        @include md {
            padding: 48px 0;
        }

        .icon {
            width: 120px;
            height: 120px;
            border-radius: 100px;
            justify-content: center;
            background-color: $gray-5;
            align-items: center;
            margin-bottom: 24px;

            @include lg {
                width: 100px;
                height: 100px;
            }

            i {
                font-size: 40px;
                color: $brand;

                @include lg {
                    font-size: 32px;
                }
            }
        }

        .content {
            width: 100%;
            justify-content: center;
            align-items: center;
            gap: 8px;
            border-radius: 8px;

            .title {
                margin-bottom: 10px;
            }

            .desc {
                @include md {
                    text-align: center;
                }
            }
        }

        &:hover {
            @include transition;

            .content {

                .title,
                .desc {
                    @include transition;
                    color: $brand;
                }
            }

            .icon {
                i {
                    transform: rotateY(360deg);
                    @include transition;
                }
            }
        }
    }
}