.page-area{
    &.event-details{
        position: relative;
        .feature-image-2{
            position: absolute;
            bottom: 0;
            left: 0;
            margin-left: 64px;
            margin-bottom: 296px;
            width: 130px;
            height: 51.12px;
            @include rmaxwd(1400){
                width: 120px;
                margin-left: 10px;
                margin-bottom: 10px;
            }
        }
        .feature-image-3{
            position: absolute;
            bottom: 0;
            right: 0;
            margin-right: 54px;
            margin-bottom: 765px;
            width: 250px;
            height: 164px;
            @include rmaxwd(1400){
                display: none !important;
            }
            
        }
        .author-info{
            position: relative;
            display: flex;
            flex-direction: row;
            padding: 32px;
            align-items: center;
            @include sm{
                flex-direction: column;
            }
            .author-text{
                display: flex;
                flex-direction: column;
                align-items: start;
                p,.decs{
                    text-align: start;
                    margin-top: 11px;
                    margin-bottom: 16px;  
                }   
            }
            .author-social-profiles{
                position: absolute;
                bottom: 24px;
                right: 24px;
                @include sm{
                    bottom: 10px;
                    right: 10px;
                }
            }
        }
        .social-share{
            a{
                background-color: $primary-color !important;
                color: $black-2 !important
            }
        }
        .blog-post-tag{
            display: flex;
            justify-content: center;
            align-items: center;
            @include sm{
                gap: 8px;
                flex-direction: column;
                align-items: start;
            }
            span{
                margin-top: 0px !important;
            }
        }
        .post-tag-list{
            a{
                background: $white !important;
            }
        }
        .single-post-item{
            .post-desc{
                margin-top: 40px;
                margin-bottom: 32px;
            }
            .post-content{
                .post-gallery-columns-2,.gallery-columns-2{
                    margin-top: 30px;
                }
            } 
        }
    }
}

.events_group_details_wrapper{
    margin-top: 60px;
    position: relative;
    border-radius: 24px;
    background-color: $white;
    padding: 48px 48px 48px 40px;
    // overflow: hidden;
    .bottom-shape{
        position: absolute;
        bottom: 0;
        left: 0;
        margin-left: 24px;
        margin-bottom: -26px;
        animation: beat 1.4s infinite alternate;
        width: 258px;
        height: 178px;
        flex-shrink: 0;
        @include md{
            width: 100px;
            height: 80px;
            margin-bottom: 10px;
        }
        @include sm{
            display: none !important;
        }
    }
    .events_group_details_inner_wrapper{
        .tribe-events-single-section-title{
            color: $brand;
            margin: 0;
            margin-bottom: 24px;
            font-family: $heading-font;
            font-size: 22px;
            cursor: default;
        }
        .tribe-events-event-meta{
            &:before{
                display: none !important;
                border: none !important;
            }
            dl{
                margin: 0;
                dt{
                    font-family: $heading-font;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 130%; 
                    letter-spacing: 0.36px;
                    color: $black;
                    cursor: default;
                }
                abbr{
                    font-family: $heading-font;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 170%;
                    letter-spacing: 0.32px;
                    color: $black-3;
                    text-decoration: none;
                    cursor: default;
                }
            }
           
        }
        .tribe-events-meta-group{
            position: relative;
            border-right: 1px solid #BDBDBD;
            padding: 0;
            margin: 0;
            margin-right: 111px;
            @include md{
                margin-right: 0 !important;
                border: none !important;
            }
            @include sm{
                margin-right: 0 !important;
                border: none !important;
            }
            &.tribe-events-meta-group-venue{
                border: none !important;
            }
        }
        .event-meta-wrapper{
            display: flex;
            justify-content: center;
            @include sm{
                flex-direction: column;
            }
            .tribe-events-single-section
            {
                &.tribe-events-event-meta{
                    &.primary{
                        display: flex;
                        justify-content: space-between;
                        width: 70%;
                        align-items: center;
                        @include sm{
                            flex-direction: column;
                            gap: 20px;
                            width: 100%;
                            align-items: start;
                        }
                    }
                }
            }
            .tribe-events-event-meta{
                &.secondary{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    @include sm{
                        justify-self: start;
                        align-items: start;
                    }
                }
            }
        }
        .btn-wrapper{
            display: flex;
            width: 100%;
            justify-content: end;
            align-items: center;
            gap: 16px;
            margin-top: 40px;
            @include sm{
                margin-top: 0;
                flex-direction: column;
                justify-content: start;
                align-items: start;
            }
            .tribe-events{
                &.tribe-common{
                    @include sm{
                        width: 100% !important;  
                    }
                }

            }
            // margin-right: 48px;
            .tribe-events-c-subscribe-dropdown__container{
                width: auto;
                .tribe-events-c-subscribe-dropdown{
                    margin: 0 !important;
                    .tribe-events-c-subscribe-dropdown__button{
                        width: auto !important;
                        @include sm{
                            width: 100% !important;  
                        }
                        &.tribe-common-c-btn-border{
                            display: inline-flex;
                            background-color: $white;
                            justify-content: center;
                            align-items: center;
                            color: $black-2;
                            height: 64px;
                            padding: 16px 24px;
                            text-align: center;
                            position: relative;
                            z-index: 1;
                            @include transition;
                            font-family: $heading-font;
                            font-size: 18px;
                            font-weight: 500;
                            line-height: 130%;
                            letter-spacing: 0.36px;
                            align-items: center;
                            border-radius: 50px;
                            overflow: hidden;
                            border: 1px solid $gray-4;
                            gap: 16px;
                            @include sm{
                                width: 100% !important;  
                            }
                            &:before{
                                content: '\f073';
                                font-family: $font-awesome;
                                font-size: 18px;
                                color: $black-2;
                            }
                            svg{
                                display: none !important;
                            }
                            button{
                                color: $black-2;
                                font-family: $heading-font;
                                font-size: 16px;
                                @include transition;
                                position: relative;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                gap: 16px;
                                z-index: 10;
                            }
                            &:hover{
                                background-color: $brand !important;
                                @include transition;
                                color: $white;
                                border-color: transparent !important;
                                button{
                                    color: $white !important;
                                    @include transition;
                                }
                                
                            }
                            .tribe-events-c-subscribe-dropdown__button-icon{
                                display: none !important;
                            }
                        }
                    }
                    @include sm{
                        width: 100% !important;  
                    }
                }
                @include sm{
                    width: 100% !important;  
                }
            }
            .event_register_now_btn{
                .theme-btn{
                    height: 64px;
                }
                @include sm{
                    width: 100%;
                    .theme-btn{
                        width: 100%;
                    }
                }
            }
        }
    }
    .tribe-organizer-url{
        a{
            font-family: $heading-font;
            color: $brand;
            cursor: pointer;
            display: flex;
            gap: 8px;
            justify-content: start;
            align-items: center;
            font-size: 16px;
            &:after{
                content: '\f061';
                font-family: $font-awesome;
                font-size: 14px;
                color: $brand;
            }
        }
    }
    .tribe-events-event-categories{
        a{
            color: $black-2;
            cursor: default;
        }
    }
    .tribe-events-c-subscribe-dropdown__button-text{
        &:focus{
            outline: none !important;
        }
    }
}