.slider-area {
  &.style-2{
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    .slider-wrapper{
      // Slick Dots
      .slick-dots {
        display: flex;
        gap: 20px;
        flex-direction: column;
        position: absolute;
        margin-top: 5px;
        top: 50%;
        right: 0;
        margin-right: 64px;
        transform: translateY(-50%);
        z-index: 2;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include rmaxwd(1566){
          margin-right: 14px;
        }

        @include sm {
          display: none !important;
          position: relative;
          flex-direction: row;
          align-items: center;
          justify-content: flex-end;
          margin-right: 30px;
          bottom: 70px;
          top: unset;
          left: unset;
          right: unset;
          transform: none;
        }

        li {
          width: 16px;
          height: 16px;
          display: inline-block;
          line-height: 0;
          border-radius: 50px;
          border: 1px solid $white;
          @include transition;

          button {
            font-size: 0;
            padding: 0;
            width: 16px;
            height: 16px;
            background: transparent;
            border-radius: 100px;
            position: relative;
            outline: none;
            
            @include transition;

            &:hover {
              background-color: $primary-color;
              @include transition;
            }
          }
          &.slick-active {
            border: 1px solid $primary-color;
            @include transition;
            background-color: $primary-color !important;
            outline: none !important;
            width: 24px !important;
            height: 24px !important;
            button {
              width: 24px;
              height: 24px;
              @include transition;
            }
          }
        }
      }
    }
    // Slick Nav Arrow Button
    button.slider-arrow-btn {
      display: none !important;
    }
    .single-slider {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      position: relative;
      z-index: 2;
      overflow: hidden;
      .single-slider-inner{
        padding-top: 65px;
        padding-bottom: 112px;
        @include md {
            padding-top: 100px;
            padding-bottom: 100px;
          }
        @include sm {
            padding-top: 80px;
            padding-bottom: 80px;
          }
      }
        .top-shape{
          position: absolute;
          top: 0;
          left: 0;
          margin-top: 68px;
          margin-left: 70px;
          width: 36px;
          height: 158px;
          i{
            color: $white;
            font-size: 158px;
          }
          @include rmaxwd(1200) {
            margin-top: 10px;
            margin-left: 10px;
          }
          @include rmaxwd(767) {
            margin-top: 40px;
            margin-left: 0px;
            animation: MoveUpDown 2s linear infinite alternate;
          }
        }
        .bottom-shape{
          position: absolute;
          left: 0;
          bottom: 0;
          margin-bottom: 148px;
          margin-left: 59px;
          width: 146px;
          height: 57px;
          @include rmaxwd(1800){
            margin-left: 20px;
            margin-bottom: 20px;
            width: 100px;
            height: 40px;
          }
          @include rmaxwd(992){
            margin-left: 20px;
            margin-bottom: -15px !important;
            width: 70px;
          }
          
        }
      .slider-image {
        position: relative;
        z-index: 2;
        right: 0px;
        top: 24px;
        width: 668px;
        padding-left: 4px;
        @include rmaxwd(1800){
          width: 100%;
        }
        @include rmaxwd(767){
          display: flex;
          justify-content: center;
          align-items: center;
        }
        img{
          position: relative;
          z-index: 20;
          border-radius: 50px 50px 0px 50px;
          @include transition;
          @include sm{
            height: 400px;
          }
        }
        .bottom-shape2{
          position: absolute;
          z-index: 10;
          width: 227px;
          height: 227px;
          bottom: -54px;
          right: -114px;
          img{
            @include transition;
              width: 227px;
              height: 227px;
          }
          
          @include rmaxwd(1800){
            width: 140px;
            height: 140px;
            bottom: -54px;
            right: -84px;
            img{
              width: 140px;
              height: 140px;
            }
          }
          @include rmaxwd(1400){
            width: 100px;
            height: 100px;
            bottom: -23px;
            right: -45px;
            img{
              width: 100px;
              height: 100px;
            }
          }
          @include rmaxwd(767){
            right: 57px;
            width: 80px;
            height: 80px;
            animation: rotating 12s linear infinite;
            img{
              width: 80px;
              height: 80px;
            }
          }
          @include rmaxwd(400){
            right: 1px;
          }
        }
        &.moblile-slider-img {
          @include sm {
            left: -30px;
          }
        }

        @include sm {
          animation: none;
          right: unset;
          text-align: center;
        }
        @include rmaxwd(1799) {
          // width: auto;
          margin-top: inherit;
        }
        
      }
    }
    .theme-btn{
      &.style-2{
        &:hover{
        border-color: transparent !important;
        color: $black-2 !important;
        }
      }
      &.style-1{
        &:hover{
          color: $black-2 !important;
        }
      }
    }
  }
}