.header-area {
   &.style-3{
    background: $gray-5;
    position: relative;
   .main-menu{
     ul{
       li{
         a{
           color: $black-2;
         }
         &.active{
           >a{
             color: $brand;
           }
         }
       }
     }
    }
    .submenu{
      li{
        color: $black-2;
        border-bottom: 1px solid transparent;
        &:hover{
          @include transition;
          border-color: transparent !important;
          background-color: #ffbeb9 !important;
          a{
            color: $black-2 !important;
          }
        }
      }
    }
    .header-menu-area-inner{
      padding: 0px;
      @include rmaxwd(1281){
        padding: 0 12px !important;
      }
    }
  }
}