.elementor-1385{
    .elementor-element{
        &.elementor-element-27f5917{
            width: auto !important;
        }
        &.elementor-element-75aab82{
            width: auto !important;
            right: 0;
            margin-top: 29px;
            margin-right: 32px;
        }
        &.elementor-element-a677644{
            width: auto !important;
        }
    }
} 